{% include base_path %}

<!-- Simple author profile using config-based site.author -->
{% assign author = site.author %}

<div class="author" itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    <img src="{{ author.avatar | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author__bio" itemprop="description">{{ author.bio | markdownify }}</p>
    {% endif %}
  </div>

  <div class="author__links">
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" itemprop="sameAs"><i class="fab fa-fw fa-github"></i> GitHub</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
      {% endif %}
      <!-- add more fields as needed (email, website, etc.) -->
    </ul>
  </div>

</div>
