{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav class="navbar">
      <!-- Left button -->
      <a href="{{ base_path }}/" class="nav-button">{{ site.title }}</a>

      <!-- Middle navigation links -->
      <div class="nav-links visible-links">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = base_path %}
          {% endif %}
          <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>

      <!-- Mobile Menu (includes both visible and hidden links for mobile) -->
      <div class="dropdown">
        <div class="dropdown-menu">
          {% for link in site.data.navigation.main %}
            {% if link.title != "Main Link" %}
              <a href="{{ base_path }}{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
      
      <!-- Mobile menu toggle (hamburger icon) -->
      <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</div>

<!-- jQuery Library (ensure it's included first) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your Custom Greedy Navigation JavaScript -->
<script src="{{ base_path }}/assets/js/plugins/jquery.greedy-navigation.js"></script>
