{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path | default: '/' }}">{{ site.title }}</a>
          </li>
          {% for link in site.navigation %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | prepend: base_path }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
