<ul class="visible-links">
  <li class="masthead__menu-item {% if page.url == '/' %}active{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="masthead__menu-item {% if page.url contains '/cv/' %}active{% endif %}">
    <a href="/cv/">CV</a>
  </li>
  <li class="masthead__menu-item {% if page.url contains '/portfolio/' %}active{% endif %}">
    <a href="/portfolio/">Portfolio</a>
  </li>
  <li class="masthead__menu-item {% if page.url contains '/contact/' %}active{% endif %}">
    <a href="/contact/">Contact</a>
  </li>
</ul>
