<div class="sidebar-bio">
  <img class="sidebar-bio__img" src="/assets/images/avatar.jpg" alt="Jennifer Haliewicz">
  <h3 class="sidebar-bio__name">Jennifer Haliewicz</h3>
  <p class="sidebar-bio__desc">Human Language Technology | Data | NLP</p>
  <ul class="sidebar-bio__links">
    <li><a href="https://github.com/yourgithub">GitHub</a></li>
    <li><a href="https://linkedin.com/in/yourlinkedin">LinkedIn</a></li>
    <li><a href="mailto:jennifer.haliewicz@gmail.com">Email</a></li>
  </ul>
</div>
