<div class="sidebar-bio">
  <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" class="sidebar-bio__img">
  <div class="sidebar-bio__text">
    <h2 class="sidebar-bio__name">{{ site.author.name }}</h2>
    {% if site.author.bio %}
      <p class="sidebar-bio__desc">{{ site.author.bio }}</p>
    {% endif %}
    <ul class="sidebar-bio__links">
      {% for link in site.author.links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
