/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 30;
}

.masthead__inner-wrap {
  @include container;
  @include clearfix;
  padding: 1em;
  font-family: $sans-serif-narrow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1400px; /* Adjust as needed */
  width: 90%;
  margin: 0 auto; /* Centers the content */

  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  nav {
    z-index: 20;
  }

  a {
    text-decoration: none;
  }
}
