/* ========================================================================== 
   NAVIGATION (UPDATED FOR RESPONSIVENESS)
   ========================================================================== */

/* Breadcrumb navigation links */
.breadcrumbs {
  @include container;
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  font-family: $sans-serif;
  -webkit-animation: intro 0.3s both;
