---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    <!-- Navigation bar -->

    <div id="main" role="main">
      {% if page.sidebar != false %}
        <aside class="sidebar">
          {% include sidebar.html %}
        </aside>
      {% endif %}

      <div class="page{% if page.sidebar == false %} page--no-sidebar{% endif %}">
        <!-- Page title -->
        {% if page.title %}
          <header class="page__header">
            <h1 class="page__title">{{ page.title }}</h1>
          </header>
        {% endif %}

        <!-- Page content wrapper -->
        <div class="page__inner-wrap">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
