---
layout: default
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body>

    {% include browser-upgrade.html %}

    <!-- Nav Bar -->
    <div class="layout-container">
      {% include masthead.html %}
    </div>

    <!-- Main content area -->
    <div class="layout-container">
      <div id="main" role="main">
        {% unless page.layout == "single" and page.sidebar == false %}
          <aside class="site__aside">
            {% include sidebar.html %}
          </aside>
        {% endunless %}

        <div class="page{% if page.layout == "single" and page.sidebar == false %} page--no-sidebar{% endif %}">
          {% if page.title %}
            <header class="page__header">
              <h1 class="page__title">{{ page.title }}</h1>
            </header>
          {% endif %}

          <div class="page__inner-wrap">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
